{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}
    <form  class="container" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword">
  </div>
      <a href="http://127.0.0.1:8000/signup/" add target="_blank">sign_up
    <i class="fa fa-github" style="font-size:41px;color:white; margin-left:7px"></i></a>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}
{% block script %}{% endblock script %}


